<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" src="{% static 'jquery/css/datatables.min.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/js/jquery-3.6.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/js/datatables.min.js' %}"></script>
    <script src="{% static 'employee/js/action_request.js' %}"></script>
    <title>{% block title %} Employee Management {% endblock %}</title>
</head>

<body>
<nav class="navbar-dark bg-primary">
  <div class="container-fluid text-center">
    <p class="navbar-brand">Alpha Private Ltd.</p>
  </div>
</nav>
<div class="modal-body row">
    <div class="col-md-2">
        {% block sidebar %}
        <ul>
            <li><a href="/raise">New Request</a></li>
            <li><a href="/list">List My Requests</a></li>
            <li><a href="/manage">Manage Team Requests</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content" class="col-md-10">
        {% block content %}{% endblock %}
    </div>
    {% include 'confirmation_popup.html' %}
</div>
</body>
</html>