<div class="modal" role="dialog" id="confirmation_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="popup_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="reload()">Close</button>
      </div>
    </div>
  </div>
</div>