{% extends "base.html" %}
{% block content %}
<div class="container text-right">
  <h4 class="text-center"><span class="badge bg-info">Your Leave Stats</span></h4>
  <hr>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h5 class="my-0 fw-normal">Approved</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{Approved}}</h3>
     </div>
  </div></div>
  <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h5 class="my-0 fw-normal">Submited</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{Submitted}}</h3>
     </div>
  </div></div>
    <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h5 class="my-0 fw-normal">Declined</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{Declined}}</h3>
     </div>
  </div></div>
  <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h5 class="my-0 fw-normal">Cancelled</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{Cancelled}}</h3>
     </div>
  </div></div>
  </div>
</div>
{% endblock %}