{% extends "base.html" %}
{% block content %}
<div class="container text-right">
  <h4 class="text-center"><span class="badge bg-info">Your Leave Stats</span></h4>
  <hr>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Approved</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">{{approved}}</h1>
     </div>
  </div></div>
  <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Submited</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">{{submitted}}</h1>
     </div>
  </div></div>
    <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Declined</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">{{declined}}</h1>
     </div>
  </div></div>
  <div class="col"><div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Remaining</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">{{remaining}}</h1>
     </div>
  </div></div>
  </div>
</div>
{% endblock %}