{% extends "base.html" %}
{% block content %}
<div class="container text-right">
<button class="btn btn-primary"  id="btn_cancel" onclick="perform_manager_action(this.id)" >Cancel Selected</button>
    <h4 class="text-center"><span class="badge bg-info">My Leave requests</span></h4>
    <table class="table" id="list_table">
      <thead>
        <tr>
            <th scope="col">Request ID</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Request Type</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
           {% for r in rows %}
           <tr>
               <td>{{r.id}}</td>
            <td>{{r.employee.employee_id}}</td>
               <td>{{r.employee.first_name}} {{r.employee.last_name}}</td>
               <td>{{r.type}}</td>
               <td>{{r.start_date}}</td>
               <td>{{r.end_date}}</td>
               <td>{{r.status}}</td>
               <td>
                   {% if r.status == "Submitted" %}
                        <input type="checkbox">
                   {% endif %}
               </td>
           </tr>
            {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}