{% extends "base.html" %}
{% block content %}
<div class="container text-right" id="manager_div">
<form method="POST" class="post-form">
    {% csrf_token %}
     <div class="container-fluid col-md-5">
             <h4 class="text-center"><span class="badge bg-info">New Request Form</span></h4>
        {% for field in form %}
        <div class="form-group">
            <div class="input-group flex-nowrap">
                <span class="input-group-text col-md-6" id="addon-wrapping">{{field.label_tag}}</span>
                <span class="form-control col-md-6">{{field}}</span>
             </div>
            </div>
        {% endfor %}
        <input type="submit" class="save btn btn-success" value="Submit">
     </div>
     <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
     </div>
</form>
</div>
{% endblock %}