<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="/home" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="/raise" class="nav-link" aria-current="page">Raise New Request</a>
      </li>
        <li class="nav-item">
        <a href="/list" class="nav-link" aria-current="page">List My Requests</a>
      </li>
        <li class="nav-item">
        <a href="/manage" class="nav-link" aria-current="page">Manage Team Requests</a>
      </li>
    </ul>
</div>